<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6498a0">  <td>17/03/20 10:18:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_BroadcastCreation.EmailMarketing_BroadcastCreate()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_BroadcastCreation@6d8a00e3]">EmailMarketing_BroadcastCreate</td> 
  <td>main@13326370</td>   <td></td> </tr>
<tr bgcolor="6498a0">  <td>17/03/20 10:22:56</td>   <td>248470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EmailMarketing_BroadcastCreation.kill()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_BroadcastCreation@6d8a00e3]">&lt;&lt;kill</td> 
<td>&nbsp;</td>  <td>main@13326370</td>   <td></td> </tr>
</table>
