<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke Scenarios</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afffde">  <td>17/02/06 12:14:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_Overview.Email_Overview()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_Overview@3ab39c39]">Email_Overview</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>17/02/06 12:15:18</td>   <td>31369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_Templates.Email_Overview()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_Templates@546a03af]">Email_Overview</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="a277bd">  <td>17/02/06 12:20:27</td>   <td>339937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_Broadcast.EmailMarketing_BroadcastCampaign()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_Broadcast@721e0f4f]">EmailMarketing_BroadcastCampaign</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="acaa9f">  <td>17/02/06 12:21:20</td>   <td>392956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_OneToOneCampaign.OneToOneCampaign()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_OneToOneCampaign@28864e92]">OneToOneCampaign</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="acee67">  <td>17/02/06 12:23:14</td>   <td>507271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_VerifyEmailsToValidAndInvalid.Email_SupressionAndBroadcast()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_VerifyEmailsToValidAndInvalid@6ea6d14e]">Email_SupressionAndBroadcast</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="61e8a0">  <td>17/02/06 12:23:59</td>   <td>551612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_Recurring_Daily.RecurringCampaign_Daily()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_Recurring_Daily@6ad5c04e]">RecurringCampaign_Daily</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="629d6e">  <td>17/02/06 12:25:16</td>   <td>629032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_Recurring_Monthly.RecurringCampaign_Monthy()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_Recurring_Monthly@6833ce2c]">RecurringCampaign_Monthy</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="cddf8f">  <td>17/02/06 12:30:27</td>   <td>940427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailMarketing_Recurring_Weekly.RecurringCampaign_Daily()[pri:0, instance:EmailMarketingScenarios.EmailMarketing_Recurring_Weekly@725bef66]">RecurringCampaign_Daily</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="708e87">  <td>17/02/06 12:31:58</td>   <td>1031119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_Overview.SMS_OneToOneCampaign()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_Overview@2aaf7cc2]">SMS_OneToOneCampaign</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="abe2cd">  <td>17/02/06 12:32:25</td>   <td>1058349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_BroadcastCampaign.SMS_BroadcastCampaign()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_BroadcastCampaign@6e3c1e69]">SMS_BroadcastCampaign</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="ba92bb">  <td>17/02/06 12:33:27</td>   <td>1120069</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_OneToOneCampaign.SMS_OneToOneCampaign()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_OneToOneCampaign@1888ff2c]">SMS_OneToOneCampaign</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="db7f78">  <td>17/02/06 12:33:53</td>   <td>1146442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_RecurringMonthly.SMS_RecurringMonthly()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_RecurringMonthly@35851384]">SMS_RecurringMonthly</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="616072">  <td>17/02/06 12:34:44</td>   <td>1197039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_RecurringWeekly.SMS_RecurringWeekly()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_RecurringWeekly@649d209a]">SMS_RecurringWeekly</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="a4ad75">  <td>17/02/06 12:35:50</td>   <td>1263073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_RecurringDaily.SMS_RecurringDaily()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_RecurringDaily@6adca536]">SMS_RecurringDaily</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="80cdac">  <td>17/02/06 12:36:49</td>   <td>1322125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_SupressionDND.SMS_SupressionDND()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_SupressionDND@357246de]">SMS_SupressionDND</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="7796bb">  <td>17/02/06 12:37:45</td>   <td>1378170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_SupressionBlacklist.SMS_SupressionBlacklist()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_SupressionBlacklist@28f67ac7]">SMS_SupressionBlacklist</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="ccd57b">  <td>17/02/06 12:38:39</td>   <td>1432278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SMSMarketing_SupressionInvalidSubscriber.SMS_SupressionInvalidSubscriber()[pri:0, instance:SMSMarketingScenarios.SMSMarketing_SupressionInvalidSubscriber@256216b3]">SMS_SupressionInvalidSubscriber</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="e87672">  <td>17/02/06 12:39:35</td>   <td>1488320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CartRecovery_Campaign_1sequence.CartRecovery_1sequence()[pri:0, instance:CartRecoveryScenarios.CartRecovery_Campaign_1sequence@2a18f23c]">CartRecovery_1sequence</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="81beee">  <td>17/02/06 12:42:07</td>   <td>1639728</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CTABanner.CallToActionBanner()[pri:0, instance:OnsiteMarketingScenarios_CTA.CTABanner@d7b1517]">CallToActionBanner</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="a879bf">  <td>17/02/06 12:44:42</td>   <td>1794826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CTAInline.CallToActionInline()[pri:0, instance:OnsiteMarketingScenarios_CTA.CTAInline@16c0663d]">CallToActionInline</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="e579dc">  <td>17/02/06 12:47:11</td>   <td>1944292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CTAPopup.CallToActionPopup()[pri:0, instance:OnsiteMarketingScenarios_CTA.CTAPopup@23223dd8]">CallToActionPopup</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="baa894">  <td>17/02/06 12:47:58</td>   <td>1991128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CTAPullout.CallToActionPullout()[pri:0, instance:OnsiteMarketingScenarios_CTA.CTAPullout@4ec6a292]">CallToActionPullout</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="66bc63">  <td>17/02/06 12:48:51</td>   <td>2043791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CTAStickyBar.CallToActionStickyBar()[pri:0, instance:OnsiteMarketingScenarios_CTA.CTAStickyBar@1b40d5f0]">CallToActionStickyBar</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="68debd">  <td>17/02/06 12:49:37</td>   <td>2089906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailSignupBanner.EmailBanner()[pri:0, instance:OnsiteMarketingScenarios_EmailSignup.EmailSignupBanner@ea4a92b]">EmailBanner</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="6d6c75">  <td>17/02/06 12:50:34</td>   <td>2147539</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailSignupInline.EmailInline()[pri:0, instance:OnsiteMarketingScenarios_EmailSignup.EmailSignupInline@3c5a99da]">EmailInline</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="a793a8">  <td>17/02/06 12:51:24</td>   <td>2196706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailSignupPopup.EmailPopup()[pri:0, instance:OnsiteMarketingScenarios_EmailSignup.EmailSignupPopup@47f37ef1]">EmailPopup</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="9b8d87">  <td>17/02/06 12:52:15</td>   <td>2247889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailSignupPullout.EmailPullout()[pri:0, instance:OnsiteMarketingScenarios_EmailSignup.EmailSignupPullout@5a01ccaa]">EmailPullout</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="a79e9f">  <td>17/02/06 12:53:13</td>   <td>2306357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EmailSignupStickyBar.EmailStickyBar()[pri:0, instance:OnsiteMarketingScenarios_EmailSignup.EmailSignupStickyBar@71c7db30]">EmailStickyBar</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="6887a6">  <td>17/02/06 12:54:08</td>   <td>2361046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileBanner.MobileLeadBanner()[pri:0, instance:OnsiteMarketingScenarios_Mobile.MobileBanner@19bb089b]">MobileLeadBanner</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="739adc">  <td>17/02/06 12:55:04</td>   <td>2417328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileInline.MobileLeadInline()[pri:0, instance:OnsiteMarketingScenarios_Mobile.MobileInline@4563e9ab]">MobileLeadInline</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="fcd18c">  <td>17/02/06 12:55:55</td>   <td>2468192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobilePopup.MobileLeadPopup()[pri:0, instance:OnsiteMarketingScenarios_Mobile.MobilePopup@11531931]">MobileLeadPopup</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="f36e6a">  <td>17/02/06 12:56:48</td>   <td>2521478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobilePullout.MobileLeadPullout()[pri:0, instance:OnsiteMarketingScenarios_Mobile.MobilePullout@5e025e70]">MobileLeadPullout</td> 
  <td>main@142666848</td>   <td></td> </tr>
<tr bgcolor="879365">  <td>17/02/06 12:57:41</td>   <td>2573667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MobileStickyBar.MobileLeadStickyBar()[pri:0, instance:OnsiteMarketingScenarios_Mobile.MobileStickyBar@1fbc7afb]">MobileLeadStickyBar</td> 
  <td>main@142666848</td>   <td></td> </tr>
</table>
